<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:process=":web"
            android:name="com.wkq.common.web.CommonWebActivity"
            android:theme="@style/Theme.App.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <service
            android:name="com.wkq.common.web.WebProcessService"
            android:process=":web"
            android:exported="false" />
    </application>

</manifest>