<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.wkq.test.TestActivity"

            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.wkq.test.GradientLabelTestActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name="com.wkq.test.ImageLoaderDemoActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name="com.wkq.test.MagicIndicatorTestActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>